<div>
  <mat-sidenav-container>
    <mat-sidenav #sidenav class="sidenav" [fixedInViewport]="fixedInViewport" [fixedTopGap]="fixedTopGap"
      [fixedBottomGap]="fixedBottomGap">
      <mat-nav-list role="list">
        <mat-list-item routerLinkActive="activeclass" [routerLinkActiveOptions]="{exact: true}" role="navigation"><a routerLink="/">Rad-Recipe</a></mat-list-item>
        <mat-list-item routerLinkActive="activeclass" role="navigation"><a routerLink="/favorites">Favorites</a></mat-list-item>
        <mat-list-item routerLinkActive="activeclass" role="navigation"><a routerLink="/random">Random</a></mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div>
        <div class="homewrapper">
          <div>
            <nav class="nav_menu">
              <button mat-button class="menubtn" (click)="sidenav.open()">
                <mat-icon>menu</mat-icon>
              </button>
              <div class="nav_menu_home">
                <p><a routerLink="">rad-recipe</a></p>
              </div>
              <div class="nav_menu_search">
                <form method="get" action="/search" accept-charset="UTF-8">
                  <input class="nav_menu_search_input" type="text" name="s" id=""
                    placeholder="search for a meal or ingredient...">
                </form>
              </div>
              <div class="nav_menulinks">
                <ul class="nav_menulinks_links">
                  <li routerLinkActive="active"><a routerLink="/favorites">favorites</a></li>
                  <li routerLinkActive="active">
                    <a routerLink="/random">
                      random recipe
                    </a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
          <div class="center_msg">
            <div class="center_msg_msgs">
              <div class="center_msg_msgs_main">
                <span>rad-recipe</span>
              </div>
              <div class="center_msg_msgs_sub">
                <span>the ultimate and best recipes around the galaxy</span>
              </div>
            </div>
          </div>
          <div class="hidden_search">
            <form method="get" action="/search" accept-charset="UTF-8">
              <input class="nav_menu_search_input" type="text" name="s" id=""
                placeholder="search for a meal or ingredient...">
            </form>
          </div>
        </div>
        <div class="choose_category">
          <div>
            <span>choose a category</span>
          </div>
        </div>
        <div class="categories">
          <div class="categories_content" *ngFor="let category of recipeCategory">
            <div class="categories_content_img">
              <img src="{{category.strCategoryThumb}}" alt="">
            </div>
            <div class="categories_content_description"><a
                routerLink="/category/{{category.strCategory}}">{{category.strCategory}}</a></div>
          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>