<div>
  <mat-sidenav-container>
    <mat-sidenav #sidenav class="sidenav" [fixedInViewport]="fixedInViewport" [fixedTopGap]="fixedTopGap"
      [fixedBottomGap]="fixedBottomGap">
      <mat-nav-list role="list">
        <mat-list-item role="navigation"><a routerLink="">Rad-Recipe</a></mat-list-item>
        <mat-list-item role="navigation"><a routerLink="/favorites">Favorites</a></mat-list-item>
        <mat-list-item role="navigation"><a routerLink="/random">Random</a></mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div>
        <div>
          <nav class="nav_menu">
            <button mat-button class="menubtn" (click)="sidenav.open()">
              <mat-icon>menu</mat-icon>
            </button>
            <div class="nav_menu_home">
              <p><a routerLink="">rad-recipe</a></p>
            </div>
            <div class="nav_menu_search">
              <form method="get" action="/search" accept-charset="UTF-8">
                <input class="nav_menu_search_input" type="text" name="s" id=""
                  placeholder="search for a meal or ingredient...">
              </form>
            </div>
            <div class="nav_menulinks">
              <ul class="nav_menulinks_links">
                <li><a routerLink="/favorites">favorites</a></li>
                <li>
                  <a routerLink="/random">
                    random recipe
                  </a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
        <div *ngIf="showLoader" class="overlay">
          <img class="loading" src="../../../assets/bars.svg">
        </div>

        <div>
          <div class="hidden_search">
            <form method="get" action="/search" accept-charset="UTF-8">
              <input class="nav_menu_search_input" type="text" name="s" id=""
                placeholder="search for a meal or ingredient...">
            </form>
          </div>
          <div class="category_results">
            <div class="category_results_title">
              <h4>{{category}}</h4>
            </div>
            <div>
              <div class="category_area">
                <div *ngFor="let categories of foodCategoryResults; let i = index" class="category_area_results">
                  <div class="category_area_details">
                    <div class="category_area_img">
                      <img src="{{categories.strMealThumb}}" alt="">
                    </div>
                    <div class="category_area_header">

                      <div class="category_area_header_sub_info_area">
                        <a href="/category/{{category}}">
                          <small>
                            {{category}}
                          </small>
                        </a>
                      </div>
                      <div class="category_area_header_recipe_title">
                        <h4>
                          <a routerLink="/recipe/{{category.idMeal}}">{{categories.strMeal}}</a>
                        </h4>
                      </div>
                      <div class="category_area_header_read_more">
                        <a routerLink="/recipe/{{categories.idMeal}}"><span>Show Recipe</span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>