a:hover{
    cursor: pointer;
}
.nav_menu{
    display: flex;
    z-index: 2;
}
mat-sidenav-container{
    background: transparent;
    z-index: unset;
}
.nav_menu_search{
    margin: auto;
    width: 25%
}
.nav_menu_search span{
   padding: 50px;
}
.nav_menu_search_input{
    padding: 20px;
    width: 100%;
    border-radius: 15px;
    outline: none;
    font-size: 20px;
    border: 1px solid black;
    // background: #e8e7e7;
 }
 .nav_menu_search_input::placeholder{
    font-size: 20px;
 }
.nav_menulinks{
    margin-left: auto;
}
.nav_menulinks_links{
    display: inline-flex;
}
.nav_menulinks_links li{
    list-style: none;
    padding: 20px;
    margin-right: 25px;
}
.nav_menulinks_links li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
.nav_menulinks_links a:last-child{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
.nav_menu_home{
    margin-left: 25px;
}
.nav_menu_home p{
    padding: 15px;
}
.nav_menu_home a{
    color: black;
    text-transform: uppercase;
    font-size: 30px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
.randomise_recipe{
    width: fit-content;
    // max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    margin-top: 25px;
}
.randomise_recipe button{
    // width: 100%;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    border-radius: 5px;
    padding: 20px;
    background: transparent;
    border: 2px solid black;
    outline: none;
}
.randomise_recipe button:hover{
    cursor: pointer;
    background: #cccccc;
}
.recipe_area{
    // display: flex;
    max-width: 1000px;
    margin-left:auto;
    margin-right: auto;
}
.recipe_area_details{
    position: relative;
    display: flex;
    background: rgba(204, 204, 204, 0.2);
}
.recipe_area_header{
    width: 100%;
    float: right;
    margin-left: 1.8868%;
    text-align: center;
    display: block;
    margin: auto
    // min-height: 360px;
}
.recipe_area_header h1{
   font-size: 48px;
   font-family: 'Lora', serif;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px
}
.recipe_area_header small{
    font-size: 15px;
    font-family: 'Lora', serif;
    font-weight: 300;
    color:green;
 }
 .recipe_area_header a{
     text-decoration: none
 }
 .recipe_area_header_sub_info_cat{
    margin-top: 10px;
    margin-bottom: 10px
 }
 .interact_btns{
     text-align: center;
     font-size: 20px;
     margin-top: 20px
 }
 .interact_btns i{
     margin-right: 5px
 }
 .first-member{
     margin-right: 10px;
 }
 .first-member{
    font-size: 15px;
    font-style: italic;
    color: #7c7c7c;
    font-weight: 400;
    line-height: 26px;
    vertical-align: middle;
    font-family: 'Lora', serif;
 }
 .first-member b{
    color: green;
    font-size: 20px;
    vertical-align: middle;
}
 .middle-member_1{
     margin-left: 10px;
     margin-right: 10px;
 }
 .middle-member_1 i{
    color:gold;
    font-size: 20px
}
.middle-member_1 span{
    font-size: 15px;
    font-style: italic;
    color: #7c7c7c;
    font-weight: 400;
    line-height: 26px;
    vertical-align: middle;
    font-family: 'Lora', serif;
}
.middle-member_2{
    margin-left: 10px;
    margin-right: 10px;
}
.middle-member_2 i{
   color:red;
   font-size: 20px
}
.middle-member_2 span{
    font-size: 15px;
    font-style: italic;
    color: #7c7c7c;
    font-weight: 400;
    line-height: 26px;
    vertical-align: middle;
    font-family: 'Lora', serif;
}
 .third-member{
     margin-left: 10px;
 }
 .third-member i{
    color: blue;
    font-size: 20px
}
.third-member span{
    font-size: 15px;
    font-style: italic;
    color: #7c7c7c;
    font-weight: 400;
    line-height: 26px;
    vertical-align: middle;
    font-family: 'Lora', serif;
}
.recipe_area_img{
    // position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 320px;
    height: 300px;
    // border: 1px solid black;
    // padding: 10px;
    // padding: 15px 20px 15px 20px;
}
.recipe_area_img img{
    width: 100%;
    height: 100%;
    // box-shadow: 0 1px 15px 2px rgba(0,0,0,0.35)
}
.recipe_area_content{
    display: block;
    // margin: 50px;
}
.recipe_area_content_ing{
    width: 100%;
    // display: flex;
    // margin-right: 50px;
    font-family: 'Montserrat', sans-serif;
    line-height: 2
}
.recipe_area_content_ing h4{
    font-size: 30px;
    margin-bottom: 10px;
    font-family: 'Fresca', sans-serif;
    text-decoration: underline
}
.recipe_area_content_ing ol{
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    column-count: 3;
    column-gap: 20px;
    text-transform: capitalize;
}
.recipe_area_content_ing ol span{ 
   color: lightseagreen
}
.ingredients_separator{
    text-align: center
}
.recipe_area_content_inst{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    line-height: 2
}
.recipe_area_content_inst h4{
    font-size: 30px;
    margin-bottom: 10px;
    font-family: 'Fresca', sans-serif;
    text-decoration: underline
}
.recipe_area_video{
    display: flex;
    // padding: 15px;
    position: relative;
    margin-top: 25px;
    background: rgba(204, 204, 204, 0.2);
}
.recipe_area_video_youtube{
    // float: right
    width: 100%;
}
.recipe_area_video_youtube iframe{
    // float: right
    width: 100%;
    // box-shadow: 0 1px 15px 2px rgba(0,0,0,0.35)
}
.recipe_area_video_watch{
    width: 100%;
    position: relative;
    margin: auto;
    text-align: center
}
.recipe_area_video_watch span{
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%,-50%);
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}
footer{
    display: flex;
    max-width: 1000px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto
}
.sponsoredby{
    margin-left: auto
}
.sponsoredby a{
    text-decoration: none;
    color: blue
}
.loading{
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    // z-index: 3;
}
.overlay{
    position:fixed;
    display:block;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color:rgba(74,74,74,.5);
    z-index:99999;
}
.menubtn{
    display: none;
}
.hidden_search{
    display: none;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.nav_menu_search_input{
    padding: 20px;
    width: -webkit-fill-available;
    border-radius: 15px;
    outline: none;
    font-size: 20px;
    border: 1px solid black;
    // background: #e8e7e7;
 }
 .maincontent{
     margin-top: 50px;
 }
 @media only screen and (max-width: 479px) {
    mat-sidenav-content{
        // background: white;
        padding: 5px;
    }
    .menubtn{
        display: block
    }
    .nav_menu_home{
        margin-left: auto;
        padding-right: 5px
    }
    .nav_menu_home p{
        // display: none;
        padding: unset;
    }
    .nav_menulinks{
        display: none;
    }
    .hidden_search{
        display: block;
        margin-bottom: 10px;
    }
    .sidenav{
        width: 75%;
        z-index: 3;
    }
    .nav_menu_search_input{
        padding: 10px;
        border-radius: 5px;
    }
    .nav_menu_search_input::placeholder{
        font-size: 15px;
        // line-height: 15px;
    }
    .nav_menu_search{
        // width: 60%
        display: none;
    }
    .recipe_area_details{
        display: block
    }
    .recipe_area_content_ing ol{
        column-count: unset;
        font-size: 15px;
    }
    .recipe_area_content_ing h4{
        font-size: 25px
    }
    .recipe_area_content_inst h4{
        font-size: 25px
    }
    .recipe_area_content_inst span{
        font-size: 15px
    }
    .recipe_area_header h1{
        font-size: 40px;
    }
    .recipe_area_video_watch span{
        font-size: 15px
    }
    .recipe_area_video_youtube iframe{
        height: auto
    }
    .recipe_area_img{
        max-width: 100%;
        height: auto;;
    }
    .first-member{
        display: block;
        margin: 0;
    }
    .middle-member_1{
        display: block;
        margin: 0;
    }
    .middle-member_2{
        display: block;
        margin: 0;
    }
    .third-member{
        display: block;
        margin: 0;
    }
    .interact_btns{
        text-align: left
    }
    .recipe_area_header{
        text-align: left;
    }
    .maincontent{
        margin-top: 10px;
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px){
    mat-sidenav-content{
        // background: white;
        padding: 5px;
    }
    .menubtn{
        display: block
    }
    .nav_menu_home{
        margin-left: auto;
        padding-right: 5px
    }
    .nav_menu_home p{
        // display: none;
        padding: unset;
    }
    .nav_menulinks{
        display: none;
    }
    .hidden_search{
        display: block;
        margin-bottom: 10px;
    }
    .sidenav{
        width: 75%;
        z-index: 3;
    }
    .nav_menu_search_input{
        padding: 10px;
        border-radius: 5px;
    }
    .nav_menu_search_input::placeholder{
        font-size: 15px;
        // line-height: 15px;
    }
    .nav_menu_search{
        // width: 60%
        display: none;
    }
    .recipe_area_details{
        display: block
    }
    .recipe_area_content_ing ol{
        column-count: unset;
        font-size: 15px;
    }
    .recipe_area_content_ing h4{
        font-size: 25px
    }
    .recipe_area_content_inst h4{
        font-size: 25px
    }
    .recipe_area_content_inst span{
        font-size: 15px
    }
    .recipe_area_header h1{
        font-size: 45px;
    }
    .recipe_area_video_watch span{
        font-size: 15px
    }
    .recipe_area_video_youtube iframe{
        height: auto
    }
    .recipe_area_img{
        max-width: 100%;
        height: auto;;
    }
    .first-member{
        display: block;
        margin: 0;
    }
    .middle-member_1{
        display: block;
        margin: 0;
    }
    .middle-member_2{
        display: block;
        margin: 0;
    }
    .third-member{
        display: block;
        margin: 0;
    }
    .interact_btns{
        text-align: left
    }
    .recipe_area_header{
        text-align: left;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px){
    mat-sidenav-content{
        // background: white;
        padding: 5px;
    }
    .menubtn{
        display: block
    }
    .nav_menu_home{
        // margin-left: auto;
        padding-right: 5px
    }
    .nav_menu_home p{
        // display: none;
        padding: unset;
    }
    .nav_menulinks{
        display: none;
    }
    .hidden_search{
        // display: block;
        margin-bottom: 10px;
    }
    .sidenav{
        width: 75%;
        z-index: 3;
    }
    .nav_menu_search_input{
        padding: 10px;
        border-radius: 5px;
    }
    .nav_menu_search_input::placeholder{
        font-size: 15px;
        // line-height: 15px;
    }
    .nav_menu_search{
        margin: 0;
        margin-bottom: auto;
        margin-top: auto;
        margin-left: auto;
        width: 50%;
        padding-right: 10px;
    }
    .randomise_recipe{
        margin-bottom: 25px;
        margin-bottom: 25px;
    }
    .randomise_recipe button{
        font-size: 25px;
    }
}
