<div>
  <div>
    <div>
      <nav class="nav_menu">
        <div class="nav_menu_home">
          <p><a routerLink="">rad-recipe</a></p>
        </div>
        <div class="nav_menu_search">
          <form method="get" action="/search" accept-charset="UTF-8">
            <input class="nav_menu_search_input" type="text" name="s" id="" placeholder="enter a recipe or meal">
          </form>
        </div>
        <div class="nav_menulinks">
          <ul class="nav_menulinks_links">
            <li><a routerLink="">demo</a></li>
            <li><a routerLink="/favorites">favorites</a></li>
            <a href="/random">
              <li>random recipe</li>
            </a>
          </ul>
        </div>
      </nav>
    </div>
    <div *ngIf="showLoader" class="overlay">
      <img class="loading" src="../../../assets/bars.svg">
    </div>
    <div>
      <div class="search_results">
        <div *ngIf="nothingFound" class="search_results_nothing">
          <h4>{{s? s: ''}} produced no results</h4>
        </div>
        <div *ngIf="itemsFound" class="search_results_itemsfound">
          <h4>found <span>{{searchresults? searchresults: zero}}</span> recipe(s) for {{s}}</h4>
        </div>

        <div>
          <div class="search_area">
            <div *ngFor="let search of searchedData; let i = index" class="search_area_results">
              <div class="search_area_details">
                <div class="search_area_img">
                  <img src="{{search.strMealThumb}}" alt="">
                </div>
                <div class="search_area_header">

                  <div class="search_area_header_sub_info_area">
                    <small>
                      {{search.strArea}}
                    </small>
                  </div>
                  <div class="search_area_header_recipe_title">
                    <h4>
                      <a routerLink="/recipe/{{search.idMeal}}">{{search.strMeal}}</a>
                    </h4>
                  </div>
                  <div class="search_area_header_sub_info">
                    <small>
                      {{search.strCategory}}
                    </small>
                  </div>
                  <div class="search_area_header_read_more">
                    <a routerLink="/recipe/{{search.idMeal}}"><span>Show Recipe</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>