<div>
  <mat-sidenav-container>
    <mat-sidenav #sidenav class="sidenav" [fixedInViewport]="fixedInViewport" [fixedTopGap]="fixedTopGap"
      [fixedBottomGap]="fixedBottomGap">
      <mat-nav-list role="list">
        <mat-list-item role="navigation"><a routerLink="">Rad-Recipe</a></mat-list-item>
        <mat-list-item role="navigation"><a routerLink="/favorites">Favorites</a></mat-list-item>
        <mat-list-item role="navigation"><a routerLink="/random">Random</a></mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="position: relative">
        <div>
          <nav class="nav_menu">
            <button mat-button class="menubtn" (click)="sidenav.open()">
              <mat-icon>menu</mat-icon>
            </button>
            <div class="nav_menu_home">
              <p><a routerLink="">rad-recipe</a></p>
            </div>
            <div class="nav_menu_search">
              <form method="get" action="/search" accept-charset="UTF-8">
                <input class="nav_menu_search_input" type="text" name="s" id=""
                  placeholder="search for a meal or ingredient...">
              </form>
            </div>
            <div class="nav_menulinks">
              <ul class="nav_menulinks_links">
                <li><a routerLink="/favorites">favorites</a></li>
                <li>
                  <a routerLink="/random">
                    random recipe
                  </a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
        <div *ngIf="showLoader" class="overlay">
          <img class="loading" src="../../../assets/bars.svg">
        </div>
        <div>
          <div class="hidden_search">
            <form method="get" action="/search" accept-charset="UTF-8">
              <input class="nav_menu_search_input" type="text" name="s" id=""
                placeholder="search for a meal or ingredient...">
            </form>
          </div>
          <div class="favorite_results">
            <div *ngIf="nothingFound" class="favorite_results_nothing">
              <h4>You've not added any favorites yet</h4>
            </div>
            <div>
              <div class="favorite_area">
                <div *ngFor="let favorite of meals; let i = index" class="favorite_area_results">
                  <div class="favorite_area_details">
                    <div class="favorite_area_img">
                      <img src="{{favorite.strMealThumb}}" alt="">
                    </div>
                    <div class="favorite_area_header">

                      <div class="favorite_area_header_sub_info_area">
                        <small>
                          {{favorite.strArea}}
                        </small>
                      </div>
                      <div class="favorite_area_header_recipe_title">
                        <h4>
                          <a routerLink="/recipe/{{favorite.idMeal}}">{{favorite.strMeal}}</a>
                        </h4>
                      </div>
                      <div class="favorite_area_header_sub_info">
                        <a href="/category/{{favorite.strCategory}}" title="category">
                          <small>
                            {{favorite.strCategory}}
                          </small>
                        </a>
                      </div>
                      <div class="favorite_area_header_read_more">
                        <a routerLink="/recipe/{{favorite.idMeal}}"><span>Show Recipe</span></a>
                      </div>
                      <!-- <div class="removeFav">
                        <a class="middle-member_2" title="remove from favorites" (click)="removeFromFav($event)">
                          <input id="mealID" type="text" value="{{favorite.idMeal}}">
                          <i class="fas fa-star"></i><span>Remove from favorites</span></a>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>